

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


.sideBar {
    height: 100%;
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    padding-top: 20px;
}

.sideBar a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  font-family: "Lato", Helvetica, Arial;
  font-weight: bold;
  transition-duration: 350ms;
  transition-timing-function: ease-in-out;
}

.sideBar a:hover {
    color: #8f8f8f;
}

.sideBar h3 {
    font-family: Helvetica, Arial;
    color: white;
    padding: 6px 6px 6px 32px;;
    font-size: 25px;
    user-select: none;
}

.aboutHeader {
    padding: 30px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(121, 121, 121);
    text-decoration: none;
}

.body {
    margin-left: 230px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    font-family: "Lato", Helvetica, Arial; 
}

.body h1 {
    margin-top: 275px;
    text-align: center;
}

.body h3 {
    text-align: center;
}

.body h2 {
    text-align: center;
}

.body p {
    text-align: center;
    font-weight: bolder;
}

.siteVersion {
    margin-top: 250px;
    margin-right: 1050px;
    font-size: 25px;
}


.faqTitle {
    text-align: center;
}

.faqAnswer {
    font-size: 25px;
}

.faqQuestion1 {
    margin-top: 75px;
}